.alert {
    padding: 6px;
}
.btn[disabled]{
	cursor: auto;
}
.list-group-item{
	cursor: pointer;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
	background-color: #D2E7F9;
	color: #000;
}
.row {
	margin-top: 20px;
	margin-bottom: 20px;
}
ul	{
	list-style: outside none none;
}