<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Playlist</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="main">
				<div class="row">
					<div class="col-xs-6 col-sm-8 col-lg-8">
						<h3>Current Playlist</h3>
					</div><!-- /.col-lg-6 -->
					<div class="col-xs-6 col-sm-4 col-lg-4">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group" role="group">
								<a href="index.html"><button type="button" class="btn btn-default">Search + Videos</button></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-8 col-lg-8">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2GLe6hEC0zg"></iframe>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-4">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="media">
									<div class="media-body">
										<a href="#">
											Funny Cats Compilation [Most See] Funny Cat Videos Ever Part 1
										</a>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="media">
									<div class="media-body">
										<a href="#">
											Funny Cats Compilation [Most See] Funny Cat Videos Ever Part 1
										</a>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="media">
									<div class="media-body">
										<a href="#">
											Funny Cats Compilation [Most See] Funny Cat Videos Ever Part 1
										</a>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="media">
									<div class="media-body">
										<a href="#">
											Funny Cats Compilation [Most See] Funny Cat Videos Ever Part 1
										</a>
									</div>
								</div>
							</li>
						</ul>
						<!--nav>
							<ul class="pager">
								<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
								<li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
						  </ul>
						</nav-->
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-8 col-lg-8">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default">Remove from playlist</button>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-4">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default">Next</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>