			<div class="main">
				<div class="row">
					<div class="col-xs-6 col-sm-8 col-lg-8">
						<div class="input-group">
							<input type="text" class="form-control" id="keyWordSearch" placeholder="Search for...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" onclick="search()">Go!</button>
							</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-4">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default" id="playlist" onclick="playlistView()">See playlist</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">	
					<div class="col-xs-6 col-sm-8 col-lg-8">
						<div class="embed-responsive embed-responsive-16by9">
							<div id="player"></div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-4">		
						<ul class="list-group" id="search-list">
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-8 col-lg-8">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group" role="group">
								<button id="save-button" type="button" class="btn btn-default" onclick="saveToPlaylist()" disabled="true">Save to playlist</button>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-lg-4">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group" role="group">
								<button id="prev-button" type="button" class="btn btn-default" onclick="previousPage()" disabled="true">Prev</button>
							</div>
							<div class="btn-group" role="group">
								<button id="next-button" type="button" class="btn btn-default" onclick="nextPage()" disabled="true">Next</button>
							</div>
						</div>
					</div>
				</div>
				<div class="alert alert-success hidden" id="success-alert">
				</div>
			</div>